.Icon-container {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 48px;
}

.Icon-container--check {
	position: absolute;
	left: 12px;
}

.Icon-container--delete {
	position: absolute;
	/* top: -24px; */
	right: 0;
	fill: #afbde3;
}

.Icon-svg {
	width: 24px;
	height: 24px;
	transition: fill 0.25s;
	background-color: transparent;
	/* fill: #afbde3; */
}

.Icon-container:hover .Icon-svg--check {
	fill: #0669f7;
}

.Icon-container:hover .Icon-svg--delete {
	fill: rgb(199, 97, 97);
	fill: #ed48f3;
}
